<!-- Search input -->
<section>
  <h1>Search</h1>
  
  <!-- Accept text input for the search term. -->
  <md-input name="searchTerm" [(ngModel)]="searchTerm"></md-input>
  <!--  Create a search button that calls the fetch method on the
                 component instance. -->
  <button type="button" (click)="fetch()">FETCH</button>
</section>

<!-- Search results -->
<div *ngIf="videoList">
  <!-- Show the total number of search results. -->
  <h2>Showing {{videoList.length}} results</h2>
  <!-- Show the description for each search result. -->
  <search-result-card *ngFor="let item of videoList" 
                      [video]="item" 
                      (stateChange)="playOneCard($event)>
  </search-result-card>
</div>